/* ��� */
header {
	margin-bottom: 20px;
}

div.wrapper {
	width: 1240px;
}

h1 {
	width: 200px;
	margin: 0 auto;
	display: inline-block;
}

.headerLogo {
	width: 200px;
	float: left;
}

nav {
	width: 580px;
	display: inline-block;
	vertical-align: top;
	margin-top: 3%;
	margin-left: 12%;
	font-size: 16px;
}

.headersub {
	color: #223919;
	text-decoration: none;
	position: relative;
}

.headersub:before {
	content: '';
	border-radius: 100%;
	background: #214192;
	position: absolute;
	top: -10px;
	left: -20px;
	transition: all 0.2s;
}

.headersub:hover::before {
	width: 5px;
	height: 5px;
	left: 50%;
	opacity: 0.8;
}

.headersub:hover {
	color: #42568a;
}

.lgnbtn {
	font-size: 12px;
	width: 60px;
	position: absolute;
	top: 14px;
	left: 1184px;
}

.headerlogin {
	color: #223919;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.headerloginout {
	color: #223919;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.headerlogin:hover {
	color: #108269;
	font-weight: bold;
}

.headerloginout:hover {
	color: #108269;
	font-weight: bold;
}

/* ///////////////////////////////////////å�ȿ� ���� ����ֱ�/////////////////////////////////////////// */
/* ��ü Ʋ ��� */
/* main { */
/* border: 3px solid black; */
/* } */
.area_wrapper {
	width: 1240px;
	height: 920px;
	display: flex;
	position: absolute;
}

/* ������ �� ���� */
.calendarWhole {
	width: 1005px;
	height: 770px;
	margin-left: 110px;
	margin-top: 65px;
	border: 2px solid rgb(115, 115, 115);
	border-top: 0px;
	border-bottom: 0px;
	position: absolute;
	z-index: 2;
	/* ������1 */
	background-color: #c2e3e5;
}

/* ���� �ݿ� */
.calendarLT {
	width: 505px;
	height: 150px;
	position: absolute;
	left: 110px;
	top: 0px;
	border: 3px solid black;
	border-radius: 50% 50% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	/* ������2 */
	background-color: #c2e3e5;
}

.calendarRT {
	width: 504px;
	height: 150px;
	position: absolute;
	left: 615px;
	top: 0px;
	border: 3px solid black;
	border-radius: 50% 50% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	/* ������3 */
	background-color: #c2e3e5;
}

/* ������ �ݿ� */
.calendarLB1 {
	width: 505px;
	height: 145px;
	position: absolute;
	left: 110px;
	top: 770px;
	border: 3px solid black;
	border-radius: 50% 50% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	z-index: 3;
	background-color: white;
}

.calendarLB2 {
	width: 380px;
	height: 120px;
	position: absolute;
	left: 185px;
	top: 847px;
	border: 3px solid black;
	border-radius: 30% 40% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	z-index: 3;
}

/* �Ͽ��� �ݿ� */
.calendarRB1 {
	width: 505px;
	height: 145px;
	position: absolute;
	left: 615px;
	top: 770px;
	border: 3px solid black;
	border-radius: 50% 50% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	background-color: white;
	z-index: 3;
}

.calendarRB2 {
	width: 386px;
	height: 114px;
	position: absolute;
	left: 665px;
	top: 840px;
	border: 3px solid black;
	border-radius: 40% 40% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	z-index: 3;
}

/* �� �簢 �밢�� */
.diagonalRT, .diagonalLT {
	width: 70px;
	height: 2px;
	background-color: black;
	position: absolute;
}

.diagonalRB, .diagonalLB {
	width: 65px;
	height: 2px;
	background-color: black;
	position: absolute;
}

.diagonalRT {
	left: 1108px;
	top: 90px;
	transform: rotate(45deg);
}

.diagonalLT {
	left: 52px;
	top: 90px;
	transform: rotate(-45deg);
}

.diagonalRB {
	left: 1110px;
	top: 858px;
	transform: rotate(40deg);
}

.diagonalLB {
	left: 53px;
	top: 858px;
	transform: rotate(-40deg);
}

/* �߾Ӽ�(+�¿�) */
.lineM {
	width: 100px;
	height: 2px;
	margin-left: 110px;
	margin-top: 100px;
	background-color: black;
	position: absolute;
	top: 792px;
	left: 455px;
	z-index: 3;
}

.lineL {
	width: 125px;
	height: 2px;
	background-color: black;
	position: absolute;
	top: 879px;
	left: 60px;
	z-index: 3;
}

.lineR {
	width: 120px;
	height: 2px;
	background-color: black;
	position: absolute;
	top: 880px;
	left: 1049px;
	z-index: 3;
}

/* ���� ���� 3�� */
.leftLine1 {
	width: 1px;
	height: 765px;
	background-color: black;
	position: absolute;
	top: 89px;
	left: 90px;
}

.leftLine2 {
	width: 2px;
	height: 765px;
	background-color: black;
	position: absolute;
	top: 103px;
	left: 75px;
}

.leftLine3 {
	width: 3px;
	height: 765px;
	background-color: black;
	position: absolute;
	top: 115px;
	left: 60px;
}

/* ������ ���� 3�� */
.rightLine1, .rightLine2, .rightLine3 {
	height: 767px;
	background-color: black;
	position: absolute;
}

.rightLine1 {
	width: 1px;
	top: 85px;
	left: 1135px;
}

.rightLine2 {
	width: 2px;
	top: 100px;
	left: 1150px;
}

.rightLine3 {
	width: 3px;
	top: 114px;
	left: 1166px;
}

/* åǥ�� */
.LMR {
	width: 1198px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 900px;
	left: 15px;
	z-index: 3;
}

.LT {
	width: 70px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 96px;
	left: 15px;
	transform: rotate(-10deg);
}

.RT {
	width: 70px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 94px;
	left: 1143px;
	transform: rotate(10deg);
}

.LL {
	width: 5px;
	height: 800px;
	background-color: black;
	position: absolute;
	top: 102px;
	left: 15px;
}

.RR {
	width: 5px;
	height: 800px;
	background-color: black;
	position: absolute;
	top: 102px;
	left: 1208px;
}

/* ///////////////////////////////////////////////////////////// */
/* ��Ÿ�� ���� ���� �Ʒ������� �ϼ���  ����*/
/* ���� ������ ��ü Ʋ��� ������ ������1,2,3�� ���� �ϸ�˴ϴ� �ٸ� �κ� ��ġ ����. */

/* footer �κ�  */
/* footer {
	
} */
.footer_all {
	width: 1240px;
	height: 200px;
	position: absolute;
	top: 1080px;
	background-color: rgba(0, 0, 0, 0.13);
	border-radius: 20px;
}

.left_logo {
	padding-top: 60px;
	margin-left: 100px;
	width: 220px;
	height: 120px;
}

.left_logo1 {
	margin-left: 15px;
	width: 200px;
	height: 50px;
	transform: skew(-32deg)
}

.left_logo2 {
	width: 200px;
	height: 30px;
}

.middle_copyRight {
	margin-left: 150px;
	width: 450px;
	height: 80px;
	font-size: 12px;
	position: absolute;
	left: 300px;
	top: 140px;
}

.mc1 {
	margin-left: 80px;
	display: inline-block;
}

.mc2 {
	margin-left: 40px;
	display: inline-block;
}

.mc3 {
	margin-top: 10px;
}

.right_contact {
	width: 280px;
	position: absolute;
	top: 40px;
	left: 950px;
}

.rc {
	width: 140px;
	font-size: 26px;
	font-weight: bold;
}

.rc2 {
	width: 480px;
	font-style: italic;
	position: absolute;
	left: 400px;
	top: 20px;
}

/* 포스트잇 */
.post1 {
	width: 60px;
	height: 27px;
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
	color: rgba(104, 100, 100, 0.692);
}

.post2 {
	width: 40px;
	height: 37px;
	position: absolute;
}

.post2.It1 {
	z-index: 2;
	top: 60px;
	border-radius: 0px 80px 80px 0px;
	background-color: #FF9A9A;
}

.post1.It2 {
	z-index: 2;
	top: 120px;
	left: 8px;
	border-radius: 0px 80px 80px 0px;
	background-color: #FFCCAA;
}

.post1.It3 {
	z-index: 2;
	top: 200px;
	left: -10px;
	border-radius: 0px 80px 80px 0px;
	background-color: #fffabb;
	border: 1px solid rgb(219, 219, 219);
	border-left: none;
}

.post2.It4 {
   width: 60px;
   height: 27px;
   position: absolute;
   font-size: 12px;
   font-weight: bold;
   font-style: italic;
   text-align: center;
   padding-top: 10px;
   color: rgba(104, 100, 100, 0.692);
   


   z-index: 2;
   top: 240px;
   border-radius: 0px 80px 80px 0px;
   background-color: #DCEDCA;
}

.post1.It5 {
	z-index: 2;
	top: 300px;
	left: 10px;
	border-radius: 0px 80px 80px 0px;
	background-color: #c2e3e5;
}

.post2.It6 {
	z-index: 2;
	top: 380px;
	border-radius: 0px 80px 80px 0px;
	background-color: #bed6f8;
}

.post2.It7 {
	z-index: 2;
	top: 420px;
	left: 10px;
	border-radius: 0px 80px 80px 0px;
	background-color: #c7cbef;
}

.post2.It8 {
	z-index: 2;
	top: 500px;
	/* left: 10px; */
	border-radius: 0px 80px 80px 0px;
	background-color: #d8cbf1;
}







/* tab_ec ���� */
/* tab_ec ���� */
/* tab_ec ���� */
/* tab_ec ���� */
/* tab_ec ���� */
/* tab_ec ���� */
/* tab_ec ���� */
.tab_ec_box {
	/* border: 1px solid black; */
	position: relative;
	/* top: 150px; */
	width: 1006px;
	height: 700px;
	/* left: 350px; */
}

.tab_ec_box1 {
	height: 45px;
	background-color: rgb(26, 188, 156);
}

/* ��ư ���ο� ���� */
.tab_ec_tab {
	cursor: pointer;
	color: black;
	border-radius: 15px 15px 0px 0px;
	width: 150px;
	position: relative;
	top: 5px;
	border: 0px solid #00000030;
	font-weight: 800;
}

/* �ȿ� ���� �� ���̰� (�ּ� ó���� �͸� ����)*/
/* #tab_ec_E1, */
#tab_ec_F1, #tab_ec_G1, #tab_ec_H1 {
	display: none;
}

.tab_ec_Contents {
	width: 1000px;
	height: 700px;
	margin-top: 5px;
	border: 1px solid black;
}

/* ���� ��ư , ���� ����*/
#tab_ec_E {
	z-index: 5;
	position: relative;
	height: 40px;
	background-color: rgb(255, 255, 255);
}

#tab_ec_E1 {
	background-color: #c2e3e5;
}

#tab_ec_F {
	z-index: 4;
	position: relative;
	top: 13px;
	right: 6px;
	height: 25px;
}

#tab_ec_F, #tab_ec_F1 {
	background-color: rgb(175, 223, 213);
}

#tab_ec_F:hover {
	background-color: rgb(134, 211, 194);
}

#tab_ec_G {
	z-index: 3;
	position: relative;
	top: 12px;
	right: 11px;
	height: 25px;
}

#tab_ec_G, #tab_ec_G1 {
	background-color: rgb(175, 223, 213)
}

#tab_ec_G:hover {
	background-color: rgb(134, 211, 194)
}

#tab_ec_H {
	z-index: 2;
	position: relative;
	top: 12px;
	right: 17px;
	height: 25px;
}

#tab_ec_H, #tab_ec_H1 {
	background-color: rgb(175, 223, 213)
}

#tab_ec_H:hover {
	background-color: rgb(134, 211, 194)
}

/* exercise_tap_E ���� */
/* exercise_tap_E ���� */
/* exercise_tap_E ���� */
/* exercise_tap_E ���� */
/* exercise_tap_E ���� */
/* exercise_tap_E ���� */
/* exercise_tap_E ���� */
/* exercise_tap_E ���� */
/* exercise_tap_E ���� */
.exercise_all_table {
	width: 390px;
	margin: 10px 5px 10px 5px;
}

.exercise_checkbox {
	/* position: relative; */
	/* top: 10px; */
	margin-top: 10px;
	width: 400px;
	height: 640px;
	background-color: rgba(255, 255, 255, 0.734);
}

.exercise_tbody {
	height: 300px;
}

.exercise_caption {
	font-size: 25px;
	text-align: center;
	padding: 15px;
	width: 90%;
}

.exercise_all_checkbox1 {
	position: relative;
	padding: 15px 0px 15px 0px;
	text-align: left;
	font-size: 15px;
	font-weight: 900;
}

.exercise_tr {
	background-color: #92c4b9;
	font-size: 16px;
	border-style: solid;
	border-color: rgb(0, 0, 0) rgba(0, 128, 0, 0) rgb(0, 0, 0)
		rgba(0, 0, 0, 0);
}

.exercise_text_button_box {
	height: 35px;
}

.exercise_text {
	width: 225px;
	height: 35px;
	margin: 0px 0px 10px 6px;
	border: 1px solid rgb(165, 165, 165);
	border-radius: 3px;
}

.button_add {
	position: relative;
	left: 5px;
	width: 80px;
	height: 35px;
	background-color: rgb(22, 160, 133);
	border-radius: 3px;
	color: white;
	border: 0px;
}

.button_add:hover {
	background-color: rgb(20, 133, 110);
}

.button_update {
	position: relative;
	left: 226px;
	bottom: 425px;
	width: 80px;
	height: 35px;
	background-color: rgb(52, 152, 219);
	border-radius: 3px;
	color: white;
	border: 0px;
}

.button_update2 {
	position: relative;
	left: 226px;
	bottom: 425px;
	width: 80px;
	height: 35px;
	background-color: rgb(52, 152, 219);
	border-radius: 3px;
	color: white;
	border: 0px;
}

.button_update:hover {
	background-color: rgb(22, 129, 200);
}

.button_update2:hover {
	background-color: rgb(22, 129, 200);
}

.button_del {
	position: relative;
	left: 225px;
	bottom: 425px;
	width: 80px;
	height: 35px;
	background-color: #818181;
	border-radius: 3px;
	color: white;
	border: 0px;
	height: 35px;
}

.button_del:hover {
	background-color: #505050;
}

.button_add, .button_update, .button_del {
	cursor: pointer;
}

.exercise_reservation {
	position: relative;
	top: 20px;
	margin: 0px 15px 0px 15px;
	border: 1px solid black;
	background-color: white;
	border-radius: 5px;
	color: rgb(28, 132, 202);
	font-weight: 800;
	text-align: center;
	padding: 25px;
}

.exercise_reservation2 {
	position: absolute;
	width: 560px;
	height: 605px;
	bottom: 0px;
	top: 65px;
	left: 405px;
	line-height: 20px;
	margin: 0px 15px 0px 15px;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.725);
	border-radius: 5px;
}

/* exercise_tap_E �� */
/* exercise_tap_E �� */
/* exercise_tap_E �� */
/* exercise_tap_E �� */
/* exercise_tap_E �� */
/* exercise_tap_E �� */
/* exercise_tap_E �� */
/* exercise_tap_E �� */
/* exercise_tap_E �� */

/* tab_accordion 시작 */
/* tab_accordion 시작 */
/* tab_accordion 시작 */
/* tab_accordion 시작 */
/* tab_accordion 시작 */
/* tab_accordion 시작 */
/* tab_accordion 시작 */

.exercise_Contents {
	border: 1px solid gray;
	background-color: #e0f8f3;
	border-radius: 3px;
}

.exercise_time {
	border-radius: 3px;
	border: 1px solid gray;
	background-color: #e0f8f3;
}

.tab_accordion_box {
	width: 560px;
}

/* 버튼 전부에 대한 */
.tab_accordion_tab {
	border: 0px solid black;
	cursor: pointer;
	color: rgb(255, 255, 255);
	height: 30px;
	width: 60px;
	border-radius: 20px;
}

/* 안에 내용 안 보이게 (주석 처리한 것만 보임)*/
/* #tab_accordion_A1, */
#tab_accordion_B1, #tab_accordion_C1, #tab_accordion_D1,
	#tab_accordion_E1, #tab_accordion_F1, #tab_accordion_G1,
	#tab_accordion_H1 {
	display: none;
}

/* 각각 버튼 , 내용 색상*/
#tab_accordion_A:hover, #tab_accordion_B:hover, #tab_accordion_C:hover,
	#tab_accordion_D:hover, #tab_accordion_E:hover, #tab_accordion_F:hover
	{
	background-color: #252525;
}

#tab_accordion_A, #tab_accordion_B, #tab_accordion_C, #tab_accordion_D,
	#tab_accordion_E, #tab_accordion_F {
	background-color: #505050;
}

#tab_accordion_A1, #tab_accordion_B1, #tab_accordion_C1,
	#tab_accordion_D1, #tab_accordion_E1, #tab_accordion_F1 {
	background-color: #ffffff;
}

.tab_accordion_h3 {
	text-align: center;
	margin: 10px;
}

.tab_accordion_box1 {
	text-align: center;
	margin-bottom: 10px;
}

.tab_accordion_Contents {
    height: 190px;
    margin-top: 5px;
    overflow: auto;
    margin-left: 10px;
    border: 1px solid #87a393;
    border-radius: 3px;
    width: 540px;
}

.content_box {
	margin: 15px;
}

.ec_content {
	font-size: 15px;
	font-weight: 900;
}

.add_content {
	font-size: 12px;
}

/* 운동기록 */

.lnbody_scroll_box{
    position: relative;
    height: 300px;
    width: 540px;
    margin-top: 15px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.lnbody_scroll_caption {
	text-align: center;
}


.scrolltable {
	/* width: 500px; */
	height: 200px;
	overflow: auto;
}

.lnbody_scroll_table{
    border-collapse: collapse;
    margin-left: 17px;
}

.lnbody_scroll_tr{
	position: sticky;
	top: -1px;
    background-color:rgb(188, 215, 207);

}

.lnbody_scroll_th_checkbox {
	width: 25px;
    
}

.lnbody_scroll_th_No {
    width: 25px;
}

.lnbody_scroll_th_Contents{
    width: 260px;
}

.lnbody_scroll_th_Time{
    width: 80px;
}

.lnbody_scroll_th_Today{
    width: 100px;
}

.lnbody_scroll_td_checkbox{
    text-align: center;

}


.lnbody_scroll_td {
    /* background-color: white; */
    height: 25px;
	/* width: 90px; */
	/* text-align: center; */
	border: 1px solid gray;
}

.inbody_delete{
    position: relative;
    left: 455px;
	top: 10px;
	background-color: #818181;
	border-radius: 3px;
	color: white;
	border: 0px;
	padding: 10px 20px 10px 20px;
}

.inbody_delete:hover{
	background-color: #666666

}

/* 마이페이지 */
.headermypage {
 	color: #223919;
	display: inline-block;
	text-decoration: none;
	position: relative;
}
	        
.headermypage:hover {
	color: #108269;
	font-weight: bold;
}