/* 헤더 */
header {
	margin-bottom: 20px;
}

div.wrapper {
	width: 1240px;
}

h1 {
	width: 200px;
	margin: 0 auto;
	display: inline-block;
}

.headerLogo {
	width: 200px;
	float: left;
}

nav {
	width: 580px;
	display: inline-block;
	vertical-align: top;
	margin-top: 3%;
	margin-left: 12%;
	font-size: 16px;
}

.headersub {
	color: #223919;
	text-decoration: none;
	position: relative;
}

.headersub:before {
	content: '';
	border-radius: 100%;
	background: #214192;
	position: absolute;
	top: -10px;
	left: -20px;
	transition: all 0.2s;
}

.headersub:hover::before {
	width: 5px;
	height: 5px;
	left: 50%;
	opacity: 0.8;
}

.headersub:hover {
	color: #42568a;
}

.lgnbtn {
	font-size: 12px;
	width: 60px;
	position: absolute;
	top: 14px;
	left: 1184px;
}

.headerlogin {
	color: #223919;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.headerloginout {
	color: #223919;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.headerlogin:hover {
	color: #108269;
	font-weight: bold;
}

.headerloginout:hover {
	color: #108269;
	font-weight: bold;
}

/* ///////////////////////////////////////책안에 내용 집어넣기/////////////////////////////////////////// */
/* 전체 틀 잡기 */
/* main { */
/* border: 3px solid black; */
/* } */
.area_wrapper {
	width: 1240px;
	height: 920px;
	display: flex;
	position: absolute;
}

/* 페이지 들어갈 공간 */
.calendarWhole {
	width: 1005px;
	height: 770px;
	margin-left: 110px;
	margin-top: 65px;
	border: 2px solid rgb(115, 115, 115);
	border-top: 0px;
	border-bottom: 0px;
	position: absolute;
	z-index: 2;
	/* 배경색상1 */
	background-color: #c2e3e5;
}

/* 위쪽 반원 */
.calendarLT {
	width: 505px;
	height: 150px;
	position: absolute;
	left: 110px;
	top: 0px;
	border: 3px solid black;
	border-radius: 50% 50% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	/* 배경색상2 */
	background-color: #c2e3e5;
}

.calendarRT {
	width: 504px;
	height: 150px;
	position: absolute;
	left: 615px;
	top: 0px;
	border: 3px solid black;
	border-radius: 50% 50% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	/* 배경색상3 */
	background-color: #c2e3e5;
}

/* 하좌측 반원 */
.calendarLB1 {
	width: 505px;
	height: 145px;
	position: absolute;
	left: 110px;
	top: 770px;
	border: 3px solid black;
	border-radius: 50% 50% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	z-index: 3;
	background-color: white;
}

.calendarLB2 {
	width: 380px;
	height: 120px;
	position: absolute;
	left: 185px;
	top: 847px;
	border: 3px solid black;
	border-radius: 30% 40% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	z-index: 3;
}

/* 하우측 반원 */
.calendarRB1 {
	width: 505px;
	height: 145px;
	position: absolute;
	left: 615px;
	top: 770px;
	border: 3px solid black;
	border-radius: 50% 50% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	background-color: white;
	z-index: 3;
}

.calendarRB2 {
	width: 386px;
	height: 114px;
	position: absolute;
	left: 665px;
	top: 840px;
	border: 3px solid black;
	border-radius: 40% 40% 0 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	border-right: 0px solid rgba(255, 255, 255, 0);
	border-left: 0px solid rgba(255, 255, 255, 0);
	z-index: 3;
}

/* 각 사각 대각선 */
.diagonalRT, .diagonalLT {
	width: 70px;
	height: 2px;
	background-color: black;
	position: absolute;
}

.diagonalRB, .diagonalLB {
	width: 65px;
	height: 2px;
	background-color: black;
	position: absolute;
}

.diagonalRT {
	left: 1108px;
	top: 90px;
	transform: rotate(45deg);
}

.diagonalLT {
	left: 52px;
	top: 90px;
	transform: rotate(-45deg);
}

.diagonalRB {
	left: 1110px;
	top: 858px;
	transform: rotate(40deg);
}

.diagonalLB {
	left: 53px;
	top: 858px;
	transform: rotate(-40deg);
}

/* 중앙선(+좌우) */
.lineM {
	width: 100px;
	height: 2px;
	margin-left: 110px;
	margin-top: 100px;
	background-color: black;
	position: absolute;
	top: 792px;
	left: 455px;
	z-index: 3;
}

.lineL {
	width: 125px;
	height: 2px;
	background-color: black;
	position: absolute;
	top: 879px;
	left: 60px;
	z-index: 3;
}

.lineR {
	width: 120px;
	height: 2px;
	background-color: black;
	position: absolute;
	top: 880px;
	left: 1049px;
	z-index: 3;
}

/* 왼쪽 직선 3개 */
.leftLine1 {
	width: 1px;
	height: 765px;
	background-color: black;
	position: absolute;
	top: 89px;
	left: 90px;
}

.leftLine2 {
	width: 2px;
	height: 765px;
	background-color: black;
	position: absolute;
	top: 103px;
	left: 75px;
}

.leftLine3 {
	width: 3px;
	height: 765px;
	background-color: black;
	position: absolute;
	top: 115px;
	left: 60px;
}

/* 오른쪽 직선 3개 */
.rightLine1, .rightLine2, .rightLine3 {
	height: 767px;
	background-color: black;
	position: absolute;
}

.rightLine1 {
	width: 1px;
	top: 85px;
	left: 1135px;
}

.rightLine2 {
	width: 2px;
	top: 100px;
	left: 1150px;
}

.rightLine3 {
	width: 3px;
	top: 114px;
	left: 1166px;
}

/* 책표지 */
.LMR {
	width: 1198px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 900px;
	left: 15px;
	z-index: 3;
}

.LT {
	width: 70px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 96px;
	left: 15px;
	transform: rotate(-10deg);
}

.RT {
	width: 70px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 94px;
	left: 1143px;
	transform: rotate(10deg);
}

.LL {
	width: 5px;
	height: 800px;
	background-color: black;
	position: absolute;
	top: 102px;
	left: 15px;
}

.RR {
	width: 5px;
	height: 800px;
	background-color: black;
	position: absolute;
	top: 102px;
	left: 1208px;
}

/* ///////////////////////////////////////////////////////////// */
/* 스타일 구현 여기 아래쪽으로 하세요  제발*/
/* 배경색 수정은 전체 틀잡기 구역에 배경색상1,2,3을 수정 하면됩니다 다른 부분 터치 금지. */

/* footer 부분  */
/* footer {
	
} */
.footer_all {
	width: 1240px;
	height: 200px;
	position: absolute;
	top: 1080px;
	background-color: rgba(0, 0, 0, 0.13);
	border-radius: 20px;
}

.left_logo {
	padding-top: 60px;
	margin-left: 100px;
	width: 220px;
	height: 120px;
}

.left_logo1 {
	margin-left: 15px;
	width: 200px;
	height: 50px;
	transform: skew(-32deg)
}

.left_logo2 {
	width: 200px;
	height: 30px;
}

.middle_copyRight {
	margin-left: 150px;
	width: 450px;
	height: 80px;
	font-size: 12px;
	position: absolute;
	left: 300px;
	top: 140px;
}

.mc1 {
	margin-left: 80px;
	display: inline-block;
}

.mc2 {
	margin-left: 40px;
	display: inline-block;
}

.mc3 {
	margin-top: 10px;
}

.right_contact {
	width: 280px;
	position: absolute;
	top: 40px;
	left: 950px;
}

.rc {
	width: 140px;
	font-size: 26px;
	font-weight: bold;
}

.rc2 {
	width: 480px;
	font-style: italic;
	position: absolute;
	left: 400px;
	top: 20px;
}

/* 포스트잇 */
.postTodo {
	width: 60px;
	height: 27px;
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: rgba(104, 100, 100, 0.692);
}

.postTodo.It1 {
	z-index: 1;
	top: 32px;
	left: 10px;
	border-radius: 0px 80px 80px 0px;
	background-color: #FF9A9A;
}

.post1 {
	width: 60px;
	height: 27px;
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
	color: rgba(104, 100, 100, 0.692);
}

.post2 {
	width: 40px;
	height: 37px;
	position: absolute;
}

.post2.It1 {
	z-index: 2;
	top: 60px;
	border-radius: 0px 80px 80px 0px;
	background-color: #FF9A9A;
}

.post1.It2 {
	z-index: 2;
	top: 120px;
	left: 8px;
	border-radius: 0px 80px 80px 0px;
	background-color: #FFCCAA;
}

.post1.It3 {
	z-index: 2;
	top: 200px;
	left: -10px;
	border-radius: 0px 80px 80px 0px;
	background-color: #fffabb;
	border: 1px solid rgb(219, 219, 219);
	border-left: none;
}

.post2.It4 {
	width: 60px;
	height: 27px;
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
	color: rgba(104, 100, 100, 0.692);
	z-index: 2;
	top: 240px;
	border-radius: 0px 80px 80px 0px;
	background-color: #DCEDCA;
}

.post1.It5 {
	z-index: 2;
	top: 300px;
	left: 10px;
	border-radius: 0px 80px 80px 0px;
	background-color: #c2e3e5;
}

.post2.It6 {
	z-index: 2;
	top: 380px;
	border-radius: 0px 80px 80px 0px;
	background-color: #bed6f8;
}

.post2.It7 {
	z-index: 2;
	top: 420px;
	left: 10px;
	border-radius: 0px 80px 80px 0px;
	background-color: #c7cbef;
}

.post2.It8 {
	z-index: 2;
	top: 500px;
	/* left: 10px; */
	border-radius: 0px 80px 80px 0px;
	background-color: #d8cbf1;
}

/* tab_ec 시작 */
/* tab_ec 시작 */
/* tab_ec 시작 */
/* tab_ec 시작 */
/* tab_ec 시작 */
/* tab_ec 시작 */
/* tab_ec 시작 */
.tab_ec_box {
	/* border: 1px solid black; */
	position: relative;
	/* top: 150px; */
	width: 1006px;
	height: 700px;
	/* left: 350px; */
}

.tab_ec_box1 {
	height: 45px;
	background-color: rgb(26, 188, 156);
}

/* 버튼 전부에 대한 */
.tab_ec_tab {
	cursor: pointer;
	color: black;
	border-radius: 15px 15px 0px 0px;
	width: 150px;
	position: relative;
	top: 5px;
	border: 0px solid #00000030;
	font-weight: 800;
}

/* 안에 내용 안 보이게 (주석 처리한 것만 보임)*/
/* #tab_ec_E1, */
#tab_ec_F1, #tab_ec_G1, #tab_ec_H1 {
	display: none;
}

.tab_ec_Contents {
	width: 1000px;
	height: 700px;
	margin-top: 5px;
	border: 1px solid black;
}

/* 각각 버튼 , 내용 색상*/
#tab_ec_E {
	z-index: 4;
	position: relative;
	top: 13px;
	height: 25px;
	background-color: rgb(175, 223, 213);
}

#tab_ec_E:hover {
	background-color: rgb(134, 211, 194)
}

#tab_ec_E1 {
	background-color: #c2e3e5;
}

#tab_ec_F {
	z-index: 5;
	position: relative;
	height: 40px;
	background-color: rgb(255, 255, 255);
	right: 6px;
}

#tab_ec_F, #tab_ec_F1 {
	background-color: rgb(255, 255, 255);
}

#tab_ec_G {
	z-index: 3;
	position: relative;
	top: 12px;
	right: 11px;
	height: 25px;
}

#tab_ec_G, #tab_ec_G1 {
	background-color: rgb(255, 255, 255)
}

#tab_ec_G:hover {
	background-color: rgb(134, 211, 194)
}

#tab_ec_H {
	z-index: 2;
	position: relative;
	top: 12px;
	right: 17px;
	height: 25px;
}

#tab_ec_H, #tab_ec_H1 {
	background-color: rgb(175, 223, 213)
}

#tab_ec_H:hover {
	background-color: rgb(134, 211, 194)
}

/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
/* 안쪽 내용 */
.lnbody_table {
	border-collapse: collapse;
	margin-top: 50px;
	margin-left: 20px;
}

.lnbody_hr {
	position: relative;
	bottom: 15px;
}

.lnbody_tbody {
	height: 220px;
}

.lnbody_th {
	width: 90px;
	background-color: rgb(188, 215, 207);
	border: solid 1px gray;
	font-size: 14px;
}

.lnbody_td {
	text-align: center;
	width: 90px;
	border: solid 1px gray;
}

.text_hidden {
	width: 80px;
	background-color: #effffa;
	border: 1px solid gray;
	margin-left: 2px;
}

.update_hidden {
	width: 80px;
	background-color: #effffa;
	border: 1px solid gray;
	margin-left: 2px;
}

.sapn_button_box {
	position: relative;
	top: -300px;
	left: 50px;
}

.lnbody_input, .lnbody_input_2 {
	background-color: rgb(160, 203, 215);
	padding: 10px 25px 10px 25px;
	border-radius: 2px;
	border: 0;
	font-weight: 900;
	margin-right: 5px;
	cursor: pointer;
}

.lnbody_input:hover
.lnbody_input_2:hover {
	background-color: rgb(155, 191, 201);
	padding: 10px 25px 10px 25px;
	border-radius: 2px;
	border: 0;
	font-weight: 900;
	margin-right: 5px;
	cursor: pointer;
}

.insert_button {
	background-color: rgb(52, 152, 219);
	color: white;
	padding: 10px 25px 10px 25px;
	border-radius: 2px;
	border: 0;
	font-weight: 900;
	cursor: pointer;
}

.insert_button:hover {
	background-color: rgb(41, 136, 198);
	color: white;
	padding: 10px 25px 10px 25px;
	border-radius: 2px;
	border: 0;
	font-weight: 900;
	cursor: pointer;
}

.insert_cancel {
	background-color: rgb(88, 148, 189);
	color: white;
	padding: 10px 25px 10px 25px;
	border-radius: 2px;
	border: 0;
	font-weight: 900;
	cursor: pointer;
}

.insert_cancel:hover {
	background-color: rgb(71, 130, 169);
	color: white;
	padding: 10px 25px 10px 25px;
	border-radius: 2px;
	border: 0;
	font-weight: 900;
	cursor: pointer;
}

.sapn_button_box2 {
	position: relative;
	bottom: 640px;
	left: 270px;
}

.update_button {
	background-color: rgb(52, 152, 219);
	color: white;
	padding: 10px 25px 10px 25px;
	border-radius: 2px;
	border: 0;
	font-weight: 900;
	cursor: pointer;
}

.update_button:hover {
	background-color: rgb(41, 136, 198);
	color: white;
	padding: 10px 25px 10px 25px;
	border-radius: 2px;
	border: 0;
	font-weight: 900;
	cursor: pointer;
}

.update_cancel {
	background-color: rgb(88, 148, 189);
	color: white;
	padding: 10px 25px 10px 25px;
	border-radius: 2px;
	border: 0;
	font-weight: 900;
	cursor: pointer;
}

.update_cancel:hover {
	background-color: rgb(71, 130, 169);
	color: white;
	padding: 10px 25px 10px 25px;
	border-radius: 2px;
	border: 0;
	font-weight: 900;
	cursor: pointer;
}

.lnbody_table_2 {
	position: relative;
	border-collapse: collapse;
	bottom: 659px;
	left: 260px;
}

.exercise_reservation {
	position: relative;
	bottom: 610px;
	margin: 0px 15px 0px 39px;
	border: 1px solid black;
	background-color: white;
	border-radius: 5px;
	color: rgb(28, 132, 202);
	font-weight: 800;
	text-align: center;
	padding: 60px 25px 60px 25px;
	width: 360px;
}

/* ▼ 나의 기록일지 테이블 나의 기록일지 테이블 나의 기록일지 테이블 나의 기록일지 테이블 나의 기록일지 테이블 나의 기록일지 테이블 */
/* ▼ 나의 기록일지 테이블 나의 기록일지 테이블 나의 기록일지 테이블 나의 기록일지 테이블 나의 기록일지 테이블 나의 기록일지 테이블 */
.lnbody_box_1 {
	position: relative;
	position: relative;
	height: 600px;
	width: 445px;
	bottom: 20px;
	margin-left: 22px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.725);
}

.lnbody_box_2 {
	position: relative;
	bottom: 1180px;
	height: 610px;
	width: 500px;
	left: 490px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.725);
}

.lnbody_scroll_caption {
	text-align: center;
}

.scrolltable {
	width: 500px;
	height: 500px;
	overflow: auto;
}

.inbody_delete {
	position: relative;
	left: 410px;
	top: 10px;
	background-color: #818181;
	border-radius: 3px;
	color: white;
	border: 0px;
	padding: 10px 20px 10px 20px;
}

.lnbody_table_3 {
	border-collapse: collapse;
}

.lnbody_scroll_tr {
	border-collapse: collapse;
}

.lnbody_scroll_th {
	position: sticky;
	top: -1px;
	/* width: 30px; */
	height: 30px;
	background-color: rgb(188, 215, 207);
	border: solid 1px gray;
	font-size: 14px;
}

.lnbody_scroll_th_checkbox {
	position: sticky;
	top: -1px;
	background-color: rgb(237, 255, 253);
}

.lnbody_scroll_td {
	background-color: white;
	height: 25px;
	width: 100px;
	text-align: center;
	border: 1px solid gray;
}

/* 마이페이지 */
.headermypage {
	color: #223919;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.headermypage:hover {
	color: #108269;
	font-weight: bold;
}